.category-wrapper .category-title-banner {
  padding: 0 0 50px;
}
.category-col .category-item .tag {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.category-wrapper .featured {
  display: block;
  margin-bottom: 40px;
  position: relative;
}

.category-wrapper .featured img {
  width: 100%;
  height: auto;
  display: block;
}

/* CENTER META */
.category-wrapper .featured .meta {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.35);
}

.category-wrapper .featured .meta h3 {
  font-size: 32px;
  max-width: 80%;
}
.category-col .meta:hover h3 {
  color: rgb(103, 102, 102);
}

@media (max-width: 600px) {
  .category-wrapper .featured .meta h3 {
    font-size: 24px;
    max-width: 80%;
  }
}

/* =============== */

.category-col {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.category-col .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}
.category-col .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}
.category-item{
  margin-bottom: 24px !important;
}

.category-item.content strong {
  font-size: 12px;
  line-height: 24px;
}

.category-item.content h3 {
  font-size: 24px;
  line-height: 150%;
}
.category-itemimg {
  margin-bottom: 8px;
  width: 100%;
}
