.magazine .featured {
  display: block;
  margin-bottom: 40px;
  position: relative;
}

.magazine .featured img {
  width: 100%;
  height: auto;
  display: block;
}

/* CENTER META */
.magazine .featured .meta {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.35);
}

.magazine .featured .meta h3 {
  font-size: 32px;
  max-width: 80%;
}

@media (max-width: 600px) {
  .magazine .featured .meta h3 {
    font-size: 24px;
    max-width: 80%;
  }
}

/* =============== */

.magzine-col {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.magzine-col .left {
  padding-right: 16px;
  padding-top: 30px;
}
.magzine-col .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}
.magzine-col .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
}
    .magazine-item {
        margin-bottom: 24px !important;
    }

        .magazine-item .content strong {
        font-size: 12px;
        line-height: 24px;
    }

        .magazine-item .content h3 {
        font-size: 24px;
        line-height: 150%;
    }
    .magazine-item img {
    margin-bottom: 8px;
    width: 100%;
}
