.main-content{
     background-color: #eaeaea;
}
.main-content .container {
  max-width: 1440px;
  margin: auto;
  padding: 24px;
}
.main-content .section {
  margin-bottom: 24px;
}

.main-content .center {
  text-align: center;
}

.main-content .right {
  text-align: right;
}

.main-content .date {
  font-size: 14px;
  color: #666;
  width: 100%;
  text-align: right;
}

.main-content .full-img {
  width: 100%;
  height: auto;
  display: block;
}

.main-content .content {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.main-content .highlight {
  font-weight: bold;
  font-size: 18px;
}

.main-content h1 {
  font-size: 42px;
}

.main-content h3 {
  margin: 20px 0 10px;
  font-size: 22px;
}

.main-content p {
  margin-bottom: 16px;
}

.main-content hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Grid System */
.main-content .grid {
  display: grid;
  gap: 16px;
}
.main-content .grid img {
  width: 100%;
  height: auto;
  display: block;
}

.main-content .grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.main-content .grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Responsive */
@media (max-width: 768px) {
.main-content h1 {
    font-size: 24px;
  }

.main-content .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

 .main-content .right {
    text-align: left;
  }
}
