.magazine .featured {
  display: block;
  margin-bottom: 40px;
  position: relative;
}

.magazine .featured img {
  width: 100%;
  height: auto;
  display: block;
}

/* CENTER META */
.magazine .featured .meta {
  position: absolute;
  inset: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.35);
}

.magazine .featured .meta h3 {
  font-size: 32px;
  max-width: 80%;
}

@media (max-width: 600px) {
 .magazine .featured .meta h3 {
  font-size: 24px;
  max-width: 80%;
}

}
