* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}


.featured {
  display: block;
  margin-bottom: 40px;
  position: relative;
}

.featured img {
  width: 100%;
  height: auto;
  display: block;
}

/* CENTER META */
.featured .meta {
  position: absolute;
  inset: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.35);
}

.meta-inner {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.tag {
  color: #fff;
}

.publish-date {
  color: #ccc;
  font-weight: 400;
}

.featured .meta h3 {
  font-size: 32px;
  max-width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}
.card img {
  width: 100%;
  display: block;
}

.meta {
  padding-top: 12px;
}

.tag {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.meta h3 {
  font-size: 24px;
  line-height: 1.4;
}
.card .meta:hover h3 {
  color: rgb(103, 102, 102);
}
.meta-inner .publish-date{
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 6px;
    color: #a1a1a1;
}
.pagination {
  text-align: center;
  margin-top: 60px;
}

.pagination a {
  display: inline-block;
  padding: 8px 14px;
  margin: 0 6px;
  border: 1px solid #444;
  font-size: 14px;
}

.pagination a.active,
.pagination a:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 991px) {
  .grid {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .meta h3 {
    font-size: 15px;
  }
}
